@media (min-width: 1280px) {
  .container_custom {
    max-width: 1380px !important;
  }
}

.dropdown::after {
  content: url("../../public/chevron-down-solid.svg");
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
}
.footer__Accordion {
  height: 36px !important;
}

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  min-height: 2rem !important;
}

.ec-slide-title::before {
  content: "";
  position: absolute;
  top: 0;
  height: 5px;
  width: 50px;
  margin: 0 auto;
  background: #3474d4;
  left: 4px;
  right: auto;
}
.shadow_effect_parentElement li:first-child {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 2px;
}

.bg_parentElement li:first-child {
  background-color: rgb(148, 148, 155);
}

@media (min-width: 798px) {
  .container__tesimonial {
    width: 950px !important;
  }
}
